@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background-color: black;
}